# vim swap files
*.sw*

# sbt files
code/target/*
code/project/*

# idea project files
code/.idea/
.idea

# idea files inside textbook project
ru/textbook/.idea
en/textbook/.idea

# generated html book
assembly/book.html

